@media (max-width:770px) {
    .Header{
        &-switch{
            display: flex;
        }

        &-menu{
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            // background: #ccc;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            flex-direction: column;
            
            a{
                font-size: $heading-small;
                padding-bottom: 0.3px;                
            }

            &-helper{
                display: none;
                // background: #ccc;
                // display: flex;
                // position: absolute;
                // left: 0;
                // right: 0;
                // top: 455%;
                // button{
                //     font-size: $heading-small;
                //     margin-right: auto;
                // }

                // &-select{
                //     &-one{
                //         display: none;
                //     }
                //     &-two,&-tree{
                //         display: flex;
                //         appearance: none;
                //         margin-right: 0.5em;
                //     }
                // }
                
            }

            .Header.menu-show & {
                display: none;
            }
        }
    }
}