.Header{
    // border-bottom: 1px solid black;

    &-switch{
        display: none;
    }

    &-menu{
        display: flex;
        a{
            padding: 1rem;
            font-size: $heading-medium;
            font-weight: bold;
            color: $color-grey;

            &:hover{
                transition: 0.3s;
                color: black;
                opacity: 0.7;
            }
        }

        &-helper{
            select{
                border: 0px;
                background: #fff;
                color: $color-grey;
                font-weight: bold;
            }
            &-select{
                &-two{
                    display: none;
                }

                &-tree{
                    display: none;
                }
            }
        }
    }

    &-logo{
        img{
            height: 45px;
        }
    }
}