.Section{
    height: 700px;
    background:
        linear-gradient(
            rgb(45, 156, 219, 0.6), 
            rgba(155, 81, 224, 0.6)),
        url(../../images/bg-image.webp);
    background-position: center;
    background-size: cover;
    position: relative;

    &-container{
        position: absolute;
        margin: auto;
        margin-top: 25%;
        text-align: center;
        width: 100%;
        border: 3px solid #73AD21;
        color: #fff;

        h2{
            font-size: $heading-large;
        }
        div{
            p{
                font-size: $text-size-medium;
            }
            button{
                padding-left: 2em;
                padding-right: 2em;
                font-size: $text-size-medium;
            }
        }
    }
}